---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About me',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero tagline="About me">
    <Fragment slot="title">
      Elevate your online presence with our <br />
      <span class="text-accent dark:text-white highlight"> Beautiful Website Templates</span>
    </Fragment>

    <Fragment slot="subtitle">
      Donec efficitur, ipsum quis congue luctus, mauris magna convallis mauris, eu auctor nisi lectus non augue. Donec
      quis lorem non massa vulputate efficitur ac at turpis. Sed tincidunt ex a nunc convallis, et lobortis nisi tempus.
      Suspendisse vitae nisi eget tortor luctus maximus sed non lectus.
    </Fragment>
  </Hero>

  <Content
    title="Thank you for checking out my portfolio"
    image={{
      src: 'https://images.ctfassets.net/9hqhye2e9vh3/6HPqrX4nHFymHTzng93ZSo/87a81d2f148daed5753a37c49d6614c9/Main5-03.jpeg',
      alt: 'Karen on a cruise ship',
    }}
  >
    <Fragment slot="content">
      <p>My name is Karen. I’m a copywriter, content writer and travel junkie living in Edinburgh, Scotland.</p>
      <p>
        A few of the brands I’ve worked with since 2017 include: National Geographic Traveller (UK), Holland America
        Line, ASTA Worldwide Destinations Guide, ABTA, Postcards, and Flight Centre.
      </p>
      <p>
        Before discovering the joys of content and copywriting: I spent 15 years working on cruise ships in
        entertainment and then sales and marketing selling cruises; managed entertainment and sang in Spain; taught
        English in Italy; and backpacked around the US.
      </p>
      <p>
        I created a website about travel by cruise ship giving tips on what to do in ports, and advice on travel and
        ship life CruiseShipKaren.com
      </p>
      <p>
        Words have always been my thing, from speaking them while hosting and managing entertainment teams, singing them
        as a vocalist, teaching them while English teaching and learning other languages, to writing them to inform,
        educate, entertain, inspire and persuade.
      </p>
      <p>
        I have you covered for any type of content, weaving words to spice up the narrative of your product or story,
        researching thoroughly and creating the message you need.
      </p>
    </Fragment>
  </Content>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Travel stats"
    stats={[
      { title: 'Countries', amount: '113' },
      { title: 'Cruise ports', amount: '350+' },
      { title: 'Years in travel', amount: '23' },
      { title: 'Continents', amount: '6' },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="My education"
    subtitle="I’m a big believer in constant personal development and honing your craft. Here’s a summary of my relevant education so far:"
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'MBA (Executive), specialising in marketing',
        description: '2021 - University of the Highlands and Islands',
        icon: 'tabler:template',
      },
      {
        title: 'Diploma in Proofreading and Editing (Distinction)',
        description: '2020 - College of Media and Publishing',
        icon: 'tabler:template',
      },
      {
        title: 'Business of Blogging',
        description: '2018 - Nomadic Matt’s Media School',
        icon: 'tabler:template',
      },
      {
        title: 'Diploma in Copywriting',
        description: '2020 - College of Media and Publishing',
        icon: 'tabler:template',
      },
      {
        title: 'Travel Writing course online with Prof. David Farley',
        description: '2019 - Colombia University',
        icon: 'tabler:template',
      },
      {
        title: 'BA in Applied Music (vocals)',
        description: '2015 - University of the Highlands and Islands',
        icon: 'tabler:template',
      },
      {
        title: 'NVQ in Team Leading & Management',
        description: '2009 - CMI, University of Hull, England',
        icon: 'tabler:template',
      },
      {
        title: 'TEFL Diploma',
        description: '2008 - I to I International',
        icon: 'tabler:template',
      },
      {
        title: 'HND in Music Performance',
        description: '2000 - University of the Highlands and Islands',
        icon: 'tabler:template',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: "Let's chat",
        href: '/contact',
        icon: 'tabler:message-dots',
      },
    ]}
  >
    <Fragment slot="title"> Want to talk about a project? </Fragment>
  </CallToAction>
</Layout>
