---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features2 from '~/components/widgets/Features2.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'Speaking',
};
---

<Layout metadata={metadata}>
  <Hero
    tagline="Speaking"
    title="Elevate your projects with our stunning templates"
    subtitle="Explore our meticulously crafted templates tailored to various industries and purposes. From captivating presentations to functional website designs, we offer the tools you need to succeed."
    actions={[{ variant: 'primary', target: '_blank', text: 'Start exploring', href: '/' }]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'AstroWind Hero Image',
    }}
  />

  <Content
    items={[
      {
        title: 'Background in Travel and Speaking',
        description:
          'Offers a rich background in giving destination enrichment talks for prestigious cruise lines and travel writing, bringing a wealth of knowledge and passion to every event.',
        icon: 'tabler:world',
      },
      {
        title: 'Expertise in Cruise Travel',
        description:
          'Recognized authority on authenticity in cruise travel, with research and an MBA dissertation that explore creating meaningful travel experiences for audiences.',
        icon: 'tabler:ship',
      },
      {
        title: 'Media Contributions',
        description:
          'Featured travel expert who has hosted travel and cruise TV shows, producing engaging online content for global audiences on travel websites and YouTube channels.',
        icon: 'tabler:camera',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Travel Expert</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Academic and Professional Speaking',
        description:
          'Experienced in delivering keynote speeches at university lectures, focusing on creating deep connections between audiences and destinations.',
        icon: 'tabler:microphone-2',
      },
      {
        title: 'Authorship and Publications',
        description:
          'Co-authored a book on luxury yachting and the cruise industry, with significant contributions to top publications like National Geographic Traveller (UK) and ASTA.',
        icon: 'tabler:book',
      },
      {
        title: 'Presentation Goals',
        description:
          'Aims to ignite curiosity and foster appreciation for travel, cultural exchange, and connection, leveraging a lifetime of travel experience.',
        icon: 'tabler:chart-line',
      },
      {
        title: 'Engagement with Audiences',
        description:
          'Invites participation in transformative travel to connect deeply with destinations around the world.',
        icon: 'tabler:users',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Keynote Speaker</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Explore our diverse templates"
    subtitle="Discover our selection below to streamline and elevate your projects."
    columns={3}
    items={[
      {
        title: 'Content Creation',
        description:
          'Articles, blogs, how-to pieces, guides, whatever you need. On any topic and specialising in travel.',
        icon: 'tabler:article',
      },
      {
        title: 'Social Media',
        description:
          'Helping you find your voice on social media to stand out from the crowd, stay relevant and talked about.',
        icon: 'tabler:brand-twitter',
      },
      {
        title: 'Press and Print',
        description: 'Engaging copy that people want to read, with catchy headlines.',
        icon: 'tabler:news',
      },
      {
        title: 'Advertising Content',
        description:
          'Well-researched content written in your publication’s tone of voice, giving you advertising content that doesn’t feel like an advert at all.',
        icon: 'tabler:ad-2',
      },
      {
        title: 'Advertising Ideas',
        description: 'Big ideas for how to increase your reach. Fresh ways to sell your products and concepts.',
        icon: 'tabler:bulb',
      },
      {
        title: 'Video Scripts',
        description:
          'Promotional video, educational or practical, I’ll write the words to accompany your visual vision.',
        icon: 'tabler:camera-plus',
      },
      {
        title: 'Leaflets and Brochures',
        description: 'Leaflets that give your message clearly. Brochures that people read and remember.',
        icon: 'tabler:brand-pagekit',
      },
      {
        title: 'Names, Taglines, and Slogans',
        description: 'Catchy ways I’ll help you be the talk of the town (or your niche anyway).',
        icon: 'tabler:writing',
      },
      {
        title: 'Direct Response',
        description: 'Newsletters, direct mail, and email. Giving you words that convert to action.',
        icon: 'tabler:mail',
      },
      {
        title: 'Press Releases',
        description:
          'If you want to get your company’s news some attention, I’ll get your latest product, new team member or event noticed, I can help you with that.',
        icon: 'tabler:brand-redhat',
      },
      {
        title: 'Web Copy',
        description: 'Copywriting and SEO services. Amp up the power of your website and brand.',
        icon: 'tabler:seo',
      },
      {
        title: 'Brand Development',
        description: 'Helping craft your brand’s story and finding your tone of voice.',
        icon: 'tabler:brand-apple',
      },
      {
        title: 'Proofreading',
        description:
          'I can check any important document, essay, publication, webpage, website, that you’ve written (including all types above) for grammar, spelling, punctuation, structure and facts. I can proofread from Word using Track Changes, PDFs using Adobe Reader or on paper.',
        icon: 'tabler:eyeglass-2',
      },
      {
        title: 'Copy Editing',
        description:
          'I can edit any type of document or article you’ve written (including all pre-mentioned ones) to proofreading standard plus suggesting any content or structural changes needed, rewriting parts where needed.',
        icon: 'tabler:edit',
      },
      {
        title: 'Web Development',
        description:
          'If you need a website with your words – whether that be an e-commerce site, portfolio site, blog, anything you need – I work closely with web developer Nick Worrall, who I highly recommend, and we can offer you a package deal.',
        icon: 'tabler:code',
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="FAQs"
    subtitle=""
    columns={1}
    items={[
      {
        title: 'Why do I need a content writer or copywriter?',
        description:
          'With competition in every sector, standing out is crucial. A professional copywriter can help make your product, services, and message catch the attention of potential customers by crafting compelling content. Content writers help tell your story in an informative, educational, or entertaining way to engage customers.',
      },
      {
        title: 'Why do I need a proofreader or editor?',
        description:
          'Professional appearance in communication is critical for businesses. Poor grammar, spelling, and punctuation can make a bad impression and might lead to potential business losses. A proofreader or editor ensures that your content is polished and professional, enhancing your credibility.',
      },
      {
        title: 'How does it work?',
        description:
          'The process begins with a consultation to discuss your needs. After agreeing on the scope of work, a contract is signed and a deposit is made. Work begins, followed by reviews and adjustments until the final product is satisfactory. For editing, the document is reviewed first to determine the level of editing needed.',
      },
      {
        title: 'Can you create my website for me?',
        description:
          "If you need a website, collaboration with a skilled web developer is available. Whether it's an e-commerce, portfolio, or any other type of site, there are package deals available, offering professional and affordable solutions.",
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: "Let's chat",
        href: '/contact',
      },
    ]}
    title="Ready to talk?"
  />
</Layout>
